/* Search */

.search-container {
  width: 40%;
  box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* margin: auto; */
  margin-top: 20px;
  margin-left: 500px;
  padding: 50px 10px;
}

.search-btn {
  outline: none;
  border: none;
  background-color: #15418b;
  color: white;
  width: 100px;
  height: 35px;
  /* padding: 5px 100px; */
  border-radius: 10px;
  /* margin-top: 10px; */
  cursor: pointer;
  margin-left: 20px;
  /* text-wrap: nowrap; */
  /* text-align: left; */
}
.serach-icon {
  color: gray;
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
}
.input-box {
  width: 400px;
  height: 50px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

.input-container {
  display: flex;
}
.entry-box {
  margin-left: 10px;
  display: flex;
}
.select-data {
  width: 300px;
  margin-left: 10px;
}

/*-----------------------------------------------------------------------------------*/

/* content */
.card {
  /* border: 1px solid rgb(14, 11, 11); */
  /* flex-wrap: nowrap; */
  box-shadow: 4px 3px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}
.card-container {
  /* border: 1px solid red; */
  display: flex;
  margin-top: 50px;
  margin-left: 200px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* display: block; */
  padding-bottom: 20px;
}
.position {
  font-size: 20px;
  font-weight: bold;
}
.experience-icon,
.education-icon,
.location-icon {
  color: rgb(88, 88, 88);
  padding-right: 5px;
}
.card-item {
  /* margin-top: 10px; */
  padding: 5px 15px;
}
.department {
  font-size: 16px;
  font-weight: 400;
}
.card-img {
  position: absolute;
  /* border: 1px solid red; */
  width: 80px;
  height: 20px;
  margin-left: 240px;
  background-color: #15418b;
  padding: 5px 10px;
  border-radius: 5px;
}
